@import './shared/sass/font-face.scss';

@font-face {
  font-family: 'Effra';
  src: url('./shared/fonts/effra/EFFRA_STD_RG.TTF');
}

* {
  font-family: 'EFFRA_STD_LT', monospace !important;
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}