@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/Roboto-Thin.ttf');
}
* {
  font-family: 'RobotoMono', monospace;
}
body {
  display: flex;  
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}
